<% if !flash.empty? %>
  $('#msg').html('<div class="alert alert-error"><a class="close" data-dismiss="alert">&#215;</a><div id="flash_notice">You can only vote once.</div></div>');
<% end %>
$('#vote_<%= @obj.slug %>').html('<%= @obj.count_votes %> votes');