<% if !flash.empty? %>
  $('#msg').html('<div class="alert alert-error"><a class="close" data-dismiss="alert">&#215;</a><div id="flash_notice">You can only vote once per post.</div></div>');
<% end %>
$('#post_<%= @post.id %>_vote').html('<%= @post.count_votes %> votes');
